/********************************************************************

Structure of CSS

1. General Layout
2. Header Section
3. Social Section
4. Locate Section
5. About Section
6. Media Queries


/********************************************************************
    1. GENERAL LAYOUT
*********************************************************************/

html {
    background-color: #2ba5eb;
}

body {
    position: relative;
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 0 0 0 0;
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #0a1927;
    background-image: url('../img/background.jpg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

section {
    padding: 70px 0;
}

.content {
    text-align: center;
}

h1 {
    word-spacing: 4px;
    font-size: 58px;
    font-weight: 300;
    text-align: center;
    letter-spacing: normal;
}

h2 {
    word-spacing: 4px;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    letter-spacing: normal;
}

p {
    font-family: open-sans, sans-serif;
}


.btn {
    letter-spacing: 1px;
}

.btn {
    border-radius: 0;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: .5;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    background-image: url('../img/arrow-up.png');
    background-size: contain;
    text-indent: -9999px;
}

@keyframes fadein {
      0% {opacity: 0;}
     90% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadein {
      0% {opacity: 0;}
     90% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadein {
      0% {opacity: 0;}
     90% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadein {
      0% {opacity: 0;}
     90% {opacity: 0;}
    100% {opacity: 1;}
}


/********************************************************************
    2. Header Section
*********************************************************************/

header {
    color: #fff;
    width: 100%;
    min-height: 600px;
    height: 100%;
    padding: 1em 0 0;
    background-color: rgba(0, 0, 0, .2);
}

header h1 {
    margin: 60px 0;
    text-transform: uppercase;
            animation: fadein 3s;
       -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
         -o-animation: fadein 3s;
}

header h3 {
    font-size: 32px;
    margin: 40px 0 140px;
    font-weight: 300;
            animation: fadein 4s;
       -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
         -o-animation: fadein 4s;
}

header h5 {
    font-weight: 300;
            animation: fadein 2s;
       -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
         -o-animation: fadein 2s;
}

header h5 a {
    color: white;
    text-decoration: none;
}

.header-left-text {
    width: 50%;
    display: inline-block;
    padding-left: 10px;
    float: left;
    text-align: left;
}

.header-right-text {
    width: 50%;
    display: inline-block;
    padding-right: 10px;
    float: right;
    text-align: right;
}

/* Countdown */
#countdown_dashboard {
    height: 110px;
    margin: 80px auto;
    max-width: 650px;
            animation: fadein 5s;
       -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
         -o-animation: fadein 5s;
}

.dash {
    width: 110px;
    height: 114px;
    background: transparent url('../img/dash.png') 0 0 no-repeat;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.dash .digit {
    font-size: 50pt;
    font-weight: bold;
    float: left;
    width: 55px;
    text-align: center;
    color: #555;
    position: relative;
}

.dash_title {
    position: absolute;
    display: block;
    bottom: 0;
    right: 6px;
    font-size: 9pt;
    color: #fff;
    text-transform: uppercase;
}

.dev_comment {
    font-size: 14pt;
    color: #777;
    text-align: center;
    font-style: italic;
    margin: 40px 10px;
}
/* End Countdown */


/********************************************************************
    3. Social Section
*********************************************************************/

#social {
    background-color: #34495e;
}

#social h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em 0;
}

.social-icon-container {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.social-icon-container li {
    margin: 0;
    padding: 0 4% 10px;
    display: inline-block;
}

.social-icon-container img {
    width: 64px;
    height: auto;
    -webkit-transition: all ease-out .2s;
       -moz-transition: all ease-out .2s;
         -o-transition: all ease-out .2s;
            transition: all ease-out .2s;
}

.social-icon-container img:hover {
            transform: translate(0px,-12px);
        -ms-transform: translate(0px,-12px);
    -webkit-transform: translate(0px,-12px);
}

/********************************************************************
    4. Locate Section
*********************************************************************/

#locate {
    padding: 0 0;
    background-image: url(../img/map.png);
}

#locate .content {
    padding: 0;
    max-width: none;
}

#locate h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em 0;
    padding-top: 70px;
}

#locate-overlay {
    position: relative;
    background-color: rgba(52, 152, 219, .9);
    margin: 0 auto;
    max-width: none;
    padding: 0 10px;
    text-align: center;
    height: 500px;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

#locate-overlay .div-1 {
    padding: 0;
}

#Gmap {
    position: absolute;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

#view-map {
    position: absolute;
    opacity: 0;
}

input.view-map-selector:checked ~ #locate-overlay {
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
}

input.view-map-selector:checked ~ #view-address-btn {
    display: block;
}

#locate label.btn {
    color: #fff;
    background: #2b7cb2;
    font-size: 16px;
    padding: 16px 30px;
    font-weight: bold;
    margin-top: 2em;
    border-radius: 0;
    border: 1px solid #2b7cb2;
    cursor: pointer;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

#locate label.btn:hover {
    background: #3498db;
}

#view-address-btn {
    position: absolute;
    left: 50%;
    width: 240px;
    border-radius: 0;
    margin-left: -120px;
    margin-top: 1em;
    display: none;
}

#view-address-btn label {
    color: #fff;
    background: #3498db;
    font-size: 16px;
    padding: 16px 30px;
    width: 100%;
    font-weight: bold;
    border: 1px solid #2b7cb2;
    cursor: pointer;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

#view-address-btn:hover label {
    background: #2b7cb2;
}

/********************************************************************
    5. About Section
*********************************************************************/
#about {
    background-color: #34495e;
}
#about h2 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
            column-span: all;
}
.aboutme {
    margin: 0 20px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
       -moz-column-count: 3; /* Firefox */
            column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
       -moz-column-gap: 40px; /* Firefox */
            column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
       -moz-column-rule: 1px solid lightblue; /* Firefox */
            column-rule: 1px solid lightblue;
}
.aboutme img {
    width: 150px; 
    height: 150px; 
    float: left;
    margin-right: 20px;
}

/********************************************************************
    6. Media Queries
*********************************************************************/

@media (max-width:686px) {
    /* Countdown */
    #countdown_dashboard {
        max-width: 500px;
    }

    .dash {
        width: 80px;
        height: 90px;
        background-size: contain;
    }

    .dash .digit {
        font-size: 35pt;
        width: 40px;
    }
    /* End Countdown */

    /* About */
    .aboutme {
        margin: 0 20px;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
           -moz-column-count: 2; /* Firefox */
                column-count: 2;
        -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
           -moz-column-gap: 30px; /* Firefox */
                column-gap: 30px;
        -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
           -moz-column-rule: 1px solid lightblue; /* Firefox */
                column-rule: 1px solid lightblue;
    }
}

@media (max-width:536px) {
    /* Countdown */
    #countdown_dashboard {
        max-width: 400px;
    }

    .dash {
        width: 60px;
        height: 70px;
        background-size: contain;
    }

    .dash .digit {
        font-size: 25pt;
        width: 30px;
    }

    /* End Countdown */
}

@media (max-width:436px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    header h3 {
        margin-bottom: 80px;
    }

    #company a {
        font-size: 32px;
    }

    /* Countdown */
    #countdown_dashboard {
        max-width: 240px;
    }
    /* End Countdown */
    .dash {
        margin-top: 5px;
    }

    /* About */
    .aboutme {
    margin: 0 20px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
       -moz-column-count: 1; /* Firefox */
            column-count: 1;
    }   
}
